@font-face {
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"), 
	     url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf"); 
}
body {
  font-family:     Verdana, Geneva, Arial, sans-serif;
  font-size:       small;
}
h1, h2 {
  color:           #cc6600;
  border-bottom:   thin dotted #888888;
}
h1 {
  font-family:     "Emblema One", sans-serif;
  font-size:       220%;
}
h2 {
  font-size:       130%;
  font-weight:     normal;
}
blockquote {
  font-style:      italic;
}

table {
  margin-left: 20px;
  margin-right: 20px;
  border: thin solid black;
  caption-side: bottom;
  border-collapse: collapse;
 }
 td, th {
  border: thin dotted gray;
  padding: 5px;
 }
 caption {
  font-style: italic;
  padding-top: 8px;
 }

 .data {
   text-align: center;
 }
 .Temperature{
   text-align: center;
 }
.Rating {
  text-align: center;
}
.Altitude {
  text-align: right;
}
.Population {
  text-align: right;
}

th {
  background-color: #cc6600;
}
  /*tr:nth-child(2n) {
    background-color: #fcba7a;
  }*/
 
 .cellcolor {
  background-color: #fcba7a;
 }

 table table th {
  background-color: white;
 }

 #tess  {
   background-color: rgb(247, 105, 181);
 }
 #tonny {
   background-color: rgb(107, 107, 228);
 }

 li {
  list-style-image: url(images/backpack.gif);
  padding-top: 5px;
  margin-left: 20px;
 }